body {
  margin: 0;
  background: #000;
  font-family: 'DM Sans', sans-serif;
  color: white;
}

.container {
  width: 100%;
  padding: 30px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

.title-large {
  font-size: 48px;
  font-weight: 700;
}

.title-small {
  font-size: 32px;
  margin-top: -10px;
  opacity: 0.8;
}

.top-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.top-card {
  width: 48%;
  background: #111;
  padding: 20px;
  border-radius: 16px;
}

.prayer-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.card {
  width: 18%;
  background: #111;
  padding: 20px;
  border-radius: 16px;
  transition: 0.2s;
}

.card-title {
  font-size: 28px;
  margin-bottom: 10px;
}

.card-iqama {
  font-size: 36px;
  font-weight: 700;
}

.card-athan {
  font-size: 18px;
  opacity: 0.7;
}

.info-row {
  margin-top: 30px;
  text-align: center;
  font-size: 24px;
}

.clock {
  font-size: 46px;
  font-weight: 600;
  margin: 10px 0;
}

/* ACTIVE HIGHLIGHT */
.card.active {
  background-color: #013A01 !important;
  color: #FFFFFF !important;
}

.card.active * {
  color: #FFFFFF !important;
}
